@model WM.SisControleMvc.Application.ViewsModels.UsuarioViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do Usuário</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

    </dl>
    <a href="@Url.Action("Edit", "Usuarios")" class="btn btn-success">
        <span title="Voltar"></span> Editar
    </a>
    <a href="@Url.Action("Index", "Usuarios")" class="btn btn-primary">
        <span title="Voltar"></span> Voltar
    </a>
</div>